---
// Component Imports
import NavBar from "../components/NavBar.astro";
import BaseHead from "../components/BaseHead.astro";
import BlogPostPreview from "../components/BlogPostPreview.astro";
import { SITE } from "../config";
import Footer from "../components/Footer.astro";
import Breadcrumbs from "../components/Breadcrumbs.astro";
import Sobre from "../components/Sobre.astro";
// Component Script:
// You can write any JavaScript/TypeScript that you'd like here.
// It will run during the build, but never in the browser.
// All variables are available to use in the HTML template below.
let { title } = SITE;
let description = "The perfect starter for your perfect blog.";
let permalink = "https://127.0.0.1/";

// Data Fetching: List all Markdown posts in the repo.

let allPosts = await Astro.glob("./posts/*.md");
allPosts = allPosts.sort(
  (a, b) =>
    new Date(b.frontmatter.publishDate).valueOf() -
    new Date(a.frontmatter.publishDate).valueOf()
);

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<html lang="pt-br">
  <head>
    <BaseHead {title} {description} {permalink} />
  </head>

  <body>
    <header>
      <NavBar />
    </header>
    <div class="flex-1 flex flex-col lg:flex-row">
      <main class="flex-1 lg:container mx-auto md:mx-8">
        <Breadcrumbs />
        <section aria-label="Blog post list">
          {allPosts.map((p) => <BlogPostPreview post={p} />)}
        </section>
      </main>
      <aside class="lg:w-1/4 bg-yellow-100"><Sobre /></aside>
    </div>
    <Footer />
  </body>
</html>
