---
import BaseHead from "../components/BaseHead.astro";
import { SITE } from "../config";
let { title } = SITE;
let description = "The perfect starter for your perfect blog.";
let permalink = "https://127.0.0.1/";
---

<html lang="pt-br">
  <head>
    <BaseHead {title} {description} {permalink} />
  </head>
  <h1>em construção...</h1>
</html>
